<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Tip Produs: <span class="tip_produs"><%- locals.prod.tip_produs %> </span></p>
                    <p>Brand: <span class="brand"><%- locals.prod.brand %> </span></p>
                    <p>Dimensiune: <span class="dimensiune"><%- locals.prod.dimensiune %> </span></p>
                    <p>Materiale: <span class="materiale"><%- locals.prod.materiale %> </span></p>
                    <p>Culoare Principala: <span class="culoare_principala"><%- locals.prod.culoare_principala %> </span></p>
                    <p>De strada: <span class="de_strada"><%- locals.prod.de_strada %> </span></p>
                    <p>Data adaugare: <span class="data_adaugare"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>
    <%- include("../fragmente/footer") %>
    </body>
</html>